* {
  box-sizing: border-box;
}

h1 {
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 175%;
  font-family: Helvetica, sans-serif;
}

h2{
  float: right;
  width: 30%;
  margin: 0px;
  padding: 2px;
  text-align: center;
  font-size: 125%;
  font-family: Helvetica, sans-serif;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

#pizza{
  background-color: #0394fc;
}
#pasta{
  background-color: #8cfc03;
}
#pastry{
  background-color: #fc035e;
  color: white;
}

.row {
  width: 100%;
}

p{
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
  margin-top: 30px;
  padding: 10px;
}

section {
  display: block;
  border: 1px solid black;
  margin: 10px;
  background-color: lightgrey;
}

.col-lg-4,.col-md-6, .col-md-12, .col-sm-12 {
    background-color: white;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }



/******************* For Large Devices *******************/
@media (min-width: 992px) {
  .col-lg-4 {
    width: 33.3%;
  }
}


/******************* For Medium Sized Devices *******************/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/******************* For Small Devices *******************/
@media (max-width: 767px) {
  .col-sm-12 {
    width: 100%;
  }
}